<a href="https://colab.research.google.com/github/meenasirisha145/AI_bepec/blob/master/Data_Cleaning_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
cd C:\Users\Meena\Documents\Python codes_bepec\Data Cleaning

C:\Users\Meena\Documents\Python codes_bepec\Data Cleaning

In [ ]:
data = pd.read_excel('Lending_data.xlsx')

In [ ]:
print(data.head(10))

   Name of Lending Institution HQ State Rank  TA Ratio1 TBL Ratio1  \
0        American Express Co.       NY     1    0.23829   0.999544
1     First Citizens Banchares      NC     2   0.187393    0.49083
2     Wintrust Financial Corp.      IL     3   0.168999   0.383561
3                Zions Bancorp      UT     4   0.117973   0.260577
4      Synovus Financial Corp.      GA     5   0.162333   0.381387
5                  BB&T Corp.       NC     6  0.0534601   0.252966
6                   FNB Corp.       PA     7   0.127672   0.416207
7  Capital One Financial Corp.      VA     8  0.0275597   0.316466
8      Fulton Financial Corp.       PA     8   0.129126   0.347611
9      Regions Financial Corp.      AL    10  0.0610388   0.219176

  Amount ($1,000)  Number      Lender Asset Size  Amount ($1,000).1  \
0        16350038  3603226  >$50B                          16318089
1         3914507   117702  $10B-$50B                        378394
2         2842793   136801  $10B-$50B                        800526
3         6231770    52612  >$50B                            526206
4         4227168    22675  $10B-$50B                        539666
5         9408732   506879  >$50B                           1922393
6         1475506    25011  $10B-$50B                        247853
7         9105726  2914573  >$50B                           5872601
8         2133209    20080  $10B-$50B                        187652
9         7386970    63394  >$50B                           1617601

   Number .1  Amount ($1,000).2  Number .2 CC Amount/TA1
0    3603088              31949        138          0.28
1     105081            3536113      12621           .
2     126455            2042267      10346             0
3      32973            5705564      19639             0
4       9593            3687502      13082          0.01
5     473449            7486339      33430             0
6      17810            1227653       7201           .
7    2900077            3233125      14496          0.25
8       9909            1945557      10171           .
9      41677            5769369      21717          0.01

In [ ]:
data['Rank'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 15, 16, 17, 18, 19, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43,
       44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
       61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78,
       79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 'NR'], dtype=object)

In [ ]:
data.shape

(97, 14)

In [ ]:
data.dtypes

Name of Lending Institution     object
HQ State                        object
Rank                            object
TA Ratio1                       object
TBL Ratio1                      object
Amount ($1,000)                 object
Number                          object
Lender Asset Size               object
Amount ($1,000).1              float64
Number .1                      float64
Unnamed: 10                    float64
Amount ($1,000).2              float64
Number .2                      float64
CC Amount/TA1                   object
dtype: object

In [ ]:
data['Rank'] = data['Rank'].replace('NR',0)
print(data['Rank'])

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      8
9     10
10    11
11    11
12    13
13    13
14    15
15    16
16    17
17    18
18    19
19    19
20    19
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
      ..
63    64
64    65
65    66
66    67
67    67
68    69
69    70
70    71
71    72
72    73
73    74
74    75
75    76
76    77
77    78
78    79
79    80
80    81
81    82
82    83
83    84
84    85
85    86
86    87
87    88
88     0
89     0
90     0
91     0
92     0
Name: Rank, Length: 93, dtype: int64

In [ ]:
data['Lender Asset Size'].value_counts()

$10B-$50B               43
>$50B                   32
>$10B                   18
Name: Lender Asset Size, dtype: int64

In [ ]:
data['Lender Asset Size'].unique()

array(['>$50B               ', '$10B-$50B           ',
       '>$10B               '], dtype=object)

In [ ]:
data['Lender Asset Size'].replace(['>$50B               ', '$10B-$50B           ',
       '>$10B               '],[0,1,2],inplace=True)

In [ ]:
data['Lender Asset Size'].value_counts()

1    43
0    32
2    18
Name: Lender Asset Size, dtype: int64

In [ ]:
data.columns

Index(['Name of Lending Institution', 'HQ State', 'Rank', 'TA Ratio1',
       'TBL Ratio1', 'Amount ($1,000)', 'Number ', 'Lender Asset Size',
       'Amount ($1,000).1', 'Number .1', 'Amount ($1,000).2', 'Number .2',
       'CC Amount/TA1'],
      dtype='object')

In [ ]:
data['TA Ratio1']=data['TA Ratio1'].replace('-', np.NaN)

In [ ]:
data['TA Ratio1'].dtypes

dtype('float64')

In [ ]:
data['TA Ratio1'].mean()

0.04866798356661807

In [ ]:
data['TA Ratio1'] = data['TA Ratio1'].fillna(data['TA Ratio1'].mean())

In [ ]:
print(data['TA Ratio1'])

0     0.238290
1     0.187393
2     0.168999
3     0.117973
4     0.162333
5     0.053460
6     0.127672
7     0.027560
8     0.129126
9     0.061039
10    0.042109
11    0.072173
12    0.070508
13    0.069383
14    0.125271
15    0.093604
16    0.042241
17    0.018606
18    0.012517
19    0.070866
20    0.092308
21    0.067755
22    0.019831
23    0.109599
24    0.085678
25    0.048534
26    0.028649
27    0.036391
28    0.046765
29    0.041756
        ...
63    0.031035
64    0.019009
65    0.011237
66    0.006365
67    0.012968
68    0.004470
69    0.009801
70    0.000986
71    0.019486
72    0.014298
73    0.021068
74    0.034560
75    0.009297
76    0.000008
77    0.015797
78    0.011362
79    0.010257
80    0.010602
81    0.012293
82    0.003209
83    0.006555
84    0.004334
85    0.000310
86    0.000035
87    0.000047
88    0.000000
89    0.048668
90    0.048668
91    0.048668
92    0.048668
Name: TA Ratio1, Length: 93, dtype: float64

In [ ]:
columns = ['TA Ratio1','TBL Ratio1','Amount ($1,000)','Number ','Lender Asset Size','Amount ($1,000).1',
 'Number .1','Amount ($1,000).2','Number .2']
for col in columns:
    data[col]=data[col].replace('-', np.NaN)
    #print(data[col].dtypes)
    data[col] = data[col].fillna(data[col].mean())

float64
float64
float64
float64
int64
int64
int64
int64
int64

In [ ]:
data['CC Amount/TA1']=data['CC Amount/TA1'].replace('    .  ', np.NaN)

In [ ]:
data['CC Amount/TA1'].dtypes

dtype('float64')

In [ ]:
data['CC Amount/TA1'] = data['CC Amount/TA1'].fillna(data['CC Amount/TA1'].mean())

In [ ]:
data.to_excel('Cleaned_lendingdata.xlsx',index=False)

In [ ]:
print(data.head())

  Name of Lending Institution HQ State  Rank  TA Ratio1  TBL Ratio1  \
0       American Express Co.       NY      1   0.238290    0.999544
1    First Citizens Banchares      NC      2   0.187393    0.490830
2    Wintrust Financial Corp.      IL      3   0.168999    0.383561
3               Zions Bancorp      UT      4   0.117973    0.260577
4     Synovus Financial Corp.      GA      5   0.162333    0.381387

   Amount ($1,000)    Number   Lender Asset Size  Amount ($1,000).1  \
0       16350038.0  3603226.0                  0           16318089
1        3914507.0   117702.0                  1             378394
2        2842793.0   136801.0                  1             800526
3        6231770.0    52612.0                  0             526206
4        4227168.0    22675.0                  1             539666

   Number .1  Amount ($1,000).2  Number .2  CC Amount/TA1
0    3603088              31949        138        0.28000
1     105081            3536113      12621        0.02087
2     126455            2042267      10346        0.00000
3      32973            5705564      19639        0.00000
4       9593            3687502      13082        0.01000